.header {
  background: transparent;
  padding: 40px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%; 
  margin-bottom: 10px; 
}

.header-left h2 {
  margin-right: auto;
  color: #fff;
  pointer-events: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
  padding-left: 0;
  margin: 0; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.navbar a {
  border-radius: 20px;
  padding: 10px;
}

.navbar a:hover {
  color: #ffffff;
  transition: .4s;
  background: rgb(197, 0, 0);
}

.App h1 {
  text-align: center;
}