* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url("../public/bg2.png");
  background-position: center;
  background-size: contain;
  color: #fff;
}